$background-primary: #151515;
$background-secondary: #181818;
$background-ternary: #202020;
$text-color: #d8d0d5;

$accent-color: #d895ee;
$add-color: #9be099;
$remove-color: #ee9598;
$cyan-color: #97d0e8;
